[Desktop Entry]
Icon=application-x-compressed-tar
Name=170774-papirus.tar.gz
Type=Link
URL[$e]=file://$HOME/downloads/firefox/170774-papirus.tar.gz
X-KDE-LastOpenedWith=yakuake
