[Desktop Entry]
Icon=text-html
Name=joey-ryan-catch-penis
Type=Link
URL[$e]=http://www.koreus.com/embed/joey-ryan-catch-penis
X-KDE-LastOpenedWith=firefox
