[Desktop Entry]
Icon=text-html
Name=search
Type=Link
URL[$e]=https://www.google.ch/search?q=550+5.7.1&ie=UTF-8&gws_rd=cr&ei=d2lfVri2Dov2UpqQrugC
X-KDE-LastOpenedWith=firefox
